<html>
<head>

<style type="text/css">

body {background-color: white}
h1 {background-color: transparent}
h2 {background-color: #7E735F; color:white;}
p {background-color: transparent}

p.no2 {background-color: #7E735F; padding: 20px; color:white;}

</style>

</head>

<body>

<br><br>
<h2>关于我们</h2>
<p>最重要的是模型。 <br>
最关键的是操作时长。 <br>
操作时长由模型决定，反过来映射模型是什么。  <br>
<p>----------------------------------------------------------------------------------------------------</p>
bi: &nbsp&nbsp&nbsp&nbsp&nbsp 底部强度指示(0-100)   <br>
ti: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 顶部强度指示(0-100) <br>
mix_cw: 称赌模型C和W占比   // C:casino W: weighing machine <br>
scans: &nbsp&nbsp "新价值"扫描标的 <br>
<p>----------------------------------------------------------------------------------------------------</p>
每一个人都工作；可是，大部分人不能得到正常的回报。所以我们一边工作，一边为钱的事而糟心。<br>
钱太少削弱了我们工作的热情，降低了我们对自己工作的评价。这源于资本私有化对劳动成果分配方式的不合理但决定性的影响。<br>
我能看见那些暗淡的眼神，我能深切感受到资本主义的痛苦。<br>
当我们把自己可怜的所得放到资本市场时，又因为非自己专业而遭受收割。这进一步影响你对自己工作的评价：它原本是一个有意义的、体现你个人价值的平台。<br>
我热切希望这些做着自己本职工作的人，能够不必每天担心收入的问题：就好像当初我们在大公司时，我周围所有的同事所拥有的那种自信和自豪感：他们只要认真做好工作，公司就保证了他们的收入和在整个社会的地位。<br>
<p>----------------------------------------------------------------------------------------------------</p>  
资本攫取收入的方式就是股权。在农业社会，地主家珍藏的地契决定所有权和分配权，在工业社会是股权。 <br>
由资本家控制资本使用的方式一开始是有效的。在那个时间段这也许是人类文明进步最有效的方式。但是随着大托拉斯稳定成熟以及之后的金融垄断集团出现，他们变成了熵高群体，扼杀着社会的活力。<br>
我听人说，“如果我们对世界不满意，就应该去改变它”。这是对人的主观能动性的积极看法。<br>
合理的事情是这样的：人们努力工作在自己的领域，通过努力换取薪资。用薪资换取好的股权：公司产权，正如农业社会里的地契一样（枪杆子革命就是通过暴力方式让人们获得地契）。<br>
本来，人们可以通过二级市场购买公司的产权（股权）。但是赌博迷雾使平民丧失了通过劳动换取好的股权的机会。私募标准太高，只为有钱人服务。公募追涨杀跌赌起来比散户还亢奋，并且不负责任。<br>
<p>----------------------------------------------------------------------------------------------------</p>
我们这些人的挣钱方式有点不地道，看着忙碌的人们辛勤地劳动，我经常这样想。我们只很少地买入和卖出，就挣了很多。<br>
常常我在想如果分享这种拥有股权的方式，会不会对人们有利，使人们更加愉快地投入到工作中。<br>
并不是我们的独创，事实上这是由“涛哥”的影响和启发而做的事。"你会把赚钱的策略放在云平台、网上吗？" 这个问题在我看来本来就是愚蠢的。<br>
另外一些少数的人在互联网时代也做了类似的事情，他们通过微信或者微博等方式，告诉那些不相识的人们，正确的方式是；先努力学习、工作赚钱，然后正确投资。他们叫人们不要参赌，参赌不挣钱还被收割；他们用自己的亲历教人们不要走偏，希望这些陌生但努力工作的人也能过好这一生。<br>
每个人都应该拥有有有价值的股权，并从股权得到应有的分配，从而能够安心工作，输出自己的价值。<br>
所以我有时候开玩笑说这是一个社会主义程序。<br>

<hr> 
<p> 2019.1.18</p> 
<br><br>

<!-- <p class="no2">这个段落设置了内边距。</p>  -->

<div id="footer" style="background-color:#7E735F;color:white; clear:both;text-align:center; padding: 10px">
版权 © calca </div>

</body>
</html>
