<body>

<div id="header" style="background-color:#E0EBF5;color:#375EAB; text-align:center; padding:6px ">  
  {{.Slogan}}   
</div>

<br>
<div id="update_date" style="text-align:center;"> Update: {{.TrdRes.Update}} </div>


<table border="1">
    <tr>
        <td>bi: {{.Bi}}  &nbsp &nbsp </td>   
	<td>ti: {{.Ti}}  &nbsp &nbsp  </td>   
	<td>Mix_Casino_Weigher:  {{.CW_Casino}} - {{.CW_Weigher}} </td>   
    </tr>
</table>

<p> <img src="http://1.116.12.197/images/res_mipos.png"  alt="Mipos Result" widht="360" height="360" >  </p>

<hr>  <!-- ------------------------------------------------------------------------ -->	
<br>
<table border="1">
    <tr>
        <td> &nbsp  Scan Res: {{.ScanRes}}          &nbsp&nbsp </td>
	<td> &nbsp  AutoTradeAccu: {{.TrdRes.Acc }} &nbsp&nbsp </td>
	<td> &nbsp  Current Code: {{.TrdRes.CurCodBnk.Code1.Code}} - In Price: {{.TrdRes.CurCodBnk.Code1.Inprc }}  &nbsp | 
			          {{.TrdRes.CurCodBnk.Code2.Code}} - In Price: {{.TrdRes.CurCodBnk.Code2.Inprc }}  &nbsp |
			          {{.TrdRes.CurCodBnk.Code3.Code}} - In Price: {{.TrdRes.CurCodBnk.Code3.Inprc }}  &nbsp&nbsp </td> 
	<td> &nbsp&nbsp&nbsp  since 2019.1.30  &nbsp&nbsp&nbsp    </td> 
    </tr>
</table>

<br>

<hr>  <!----------------------------------------------------------------------- -->	

<a href="http://1.116.12.197/about">About</a> 
&nbsp &nbsp 
<a href="https://github.com/NickQian/calca">Github</a>

<br> <br>

</body>

{{template "footer.html" . }}

